SECRET_KEY = 'django-insecure-l&dn(f1a=g@d-(5o)ddq8_rrvql4nk52h_3=zk)$g1+5lq-j=^'
DEBUG = True
ALLOWED_HOSTS = ['*']

# PG
POSTGRES_ENGINE=django.db.backends.postgresql
POSTGRES_HOST=postgres
POSTGRES_VERSION=15
POSTGRES_PORT=5432
PG_EXTERNAL_PORT=54321
POSTGRES_DB=app
POSTGRES_USER=app
POSTGRES_PASSWORD=!ChangeMe!